body{
    width: 80%;
    margin: auto;
    text-align: justify;
    line-height: 1.5;
    color: #000;
    font-family: 'Lato', sans-serif;
    background-color: rgb(90, 145, 45);
    font-size: 20px;
    max-width: 1150px;
}

.foto_perfil{
    text-align: left;
    margin-top: -20px;
}

h1{
    text-align: center;
    margin-top: -30px;
    font-size: 71px;
    font-family: 'Playfair Display', serif;
    color: rgb(52, 88, 22);
    margin-left: 20px;
    margin-right: 20px;
    
}

.divisor{
    background-color: rgb(52, 88, 22);
    color: rgb(52, 88, 22);
}

.sobre_mim{
    margin-top: -420px;
    margin-left: 370px;
    font-size: 20px;
    text-align: justify;
}

.pq_escolhi, .extras{
    margin-left: 370px;
    font-size: 20px;
    text-align: justify;
}


h2{
    margin-top: -20px;
    font-family: 'Playfair Display', serif;
}


p{
    margin-top: -20px;
}


main{
    background: #fff;
    padding: 25px;
}

links{
    align-items: right;
}






